body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
}

header, footer {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: 0 auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    font-style: italic;;
}